<div class="row bg-row">
  <div class="col-md-12 main-area">

    <div class="row">
      <img src="../../assets/apix.png" style="padding:2rem;" height="200px" width="200px">
      <img src="../../assets/hv.png" height="200px">
    </div>

    <div class="card login-card">
      <div class="card-body">
        <div class="row">
          <p class="steps">Step 1</p>
        </div>

        <div class="row">
          <h1 class="text-center">Welcome to the Model Bank</h1>
        </div>

        <div class="row">
          <h5 class="text-center">Thank you for choosing to create an account with us.</h5>
        </div>

        <br>
        <div class="row">
          <p class="text-description">First, let's valiate your identity. <br> Please submit your National Identity Document and your picture.</p>
        </div>
        <br>

        <div class="row login-row">
          <input class="input-field" type="file" (change)="onFile1Selected($event)" />
          <input class="input-field" type="file" (change)="onFile2Selected($event)" />
          </div>
          <div class="row login-row">
              <p class="image-id">ID</p>
              <p class="image-selfie">Selfie</p>
          </div>
          <div class="row login-row">
          <button class="input-button" (click)="verifyUser()">Verify</button> &nbsp;&nbsp;
          <img *ngIf="verified" src="../../assets/checked.png" />
        </div>

      </div>
    </div>
  </div>
</div>