.input-button{
  background-color: #0084b4;
  color: white;
  padding: 7px 50px;
  border: 1px solid #0084b4;
  border-radius: 100px;
  margin-top: 1rem;
  margin-left: 10rem;
}

.input-button:hover{
  border: 1px solid #0084b4;
  background-color: #00000000;
  color: #0084b4;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.row{
  margin: 0;
  padding: 0;  
}

.bg-row{
  background-color: #222222;
}

.col-md-12{
  margin: 0;
  padding: 0;
}

.main-area{
  padding-left: 15rem;
  padding-right: 15rem;
  height: 120vh;
}

.login-card{
  padding: 5rem;
}

.text-description{
  font-weight: bold;
}

.steps{
  margin-left: 34rem;
  font-size: 1rem;
  color: orange;
  font-weight: bold;
}

.image-id{
  margin-top: 0.2rem;
  margin-left: 2.3rem;
  font-weight: bold;
}

.image-selfie{
  margin-top: 0.2rem;
  margin-left: 16.6rem;
  font-weight: bold;
}

.verified-text{
  color: #66E82E;
  margin-top: 1.2rem;
  font-weight: bold;
}