.input-button{
  background-color: #0084b4;
  color: white;
  padding: 7px 50px;
  border: 1px solid #0084b4;
  border-radius: 100px;
}

.input-button:hover{
  border: 1px solid #0084b4;
  background-color: #00000000;
  color: #0084b4;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.row{
  margin: 0;
  padding: 0;  
}

.bg-row{
  background-color: #0084b4;
}

.col-md-12{
  margin: 0;
  padding: 0;
}

.main-area{
  padding: 15rem;
  padding-top: 20%;
  height: 100vh;
}

.login-card{
  padding: 5rem;
}